<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="run.py" />
            </files>
        </defaultDocument>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python10\Python.exe|C:\Python10\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
    <appSettings>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\aconpi" />
        <add key="WSGI_HANDLER" value="run.app" />
    </appSettings>
</configuration>
