{% extends 'public/base_cpanel.html' %}
<!---->
{% block title %}AconpiExpress | crear cuenta{% endblock %}
<!---->
{% block body %}
<div class="container-xxl" > 
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center">
            <span class="app-brand-logo">
              <img
                class="logo"
                src="{{ url_for('static', filename ='assets/img/Usuario.png') }}"
                alt="Logo" width="150" height="150"/>
            </span>
          </div>

          <form class="mb-3" action="{{ url_for('cpanelResgisterUserBD') }}" method="POST" style="max-width: 400px; margin: auto;">
            <div class="mb-3">
                <label for="name_surname" class="form-label fw-bold text-primary">Nombre y apellido</label>
                <input type="text" class="form-control" name="name_surname" required autofocus />
            </div>
            <div class="mb-3">
                <label for="email_user" class="form-label fw-bold text-primary">Email</label>
                <input type="email" class="form-control" name="email_user" required />
            </div>
            <div class="mb-2 form-password-toggle row">
                <div class="col-md-6">
                    <label class="form-label fw-bold text-primary" for="pass_user">Clave</label>
                    <div class="iform-label fw-bold text-primary">
                        <input type="password" class="form-control" name="pass_user" id="pass_user" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" required />
                        <div class="input-group-append">
                            <span class="input-group-append" onclick="togglePassword()">
                                <i id="password-icon" class="bx bx-hide"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="tipo_empleado" class="form-label fw-bold text-primary">Rol</label>
                    <select class="form-select" name="rol" id="rol" required aria-label="Default select example" required>
                      <option value="">Seleccione un Rol</option>
                      <option value="Operativo">Operativo</option>
                      <option value="Administrador">Administrador</option>                        
                    </select>
                </div>
            </div>
            <button class="btn btn-primary w-100">
                Crear cuenta
                <i class="bi bi-arrow-right-circle"></i>
            </button>
        </form>

          <div class="text-center">
            <a
              href="{{ url_for('inicio') }}"
              class="d-flex align-items-center justify-content-center">
              <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
              volver
            </a>
          </div>
        </div>
      </div>
</div>
{% endblock %}
